<br><br><br><br><br><br><br><br><a href="#/cars/carsadmin">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Car</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateBook()" ng-init="getBook()">
        <div class="form-group">
          <label>Make</label>
          <select ng-model="book.make" class="form-control">
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Aston Martin">Aston Martin</option>
            <option value="Mercedes-Benz">Merced-Benz</option>
            <option value="Lamborghini">Lamborghini</option>
          </select>
        </div>
        <div class="form-group">
          <label>Model</label>
          <input type="text" class="form-control" ng-model="book.model" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Fuel Type</label>
          <select ng-model="book.fuel" class="form-control">
            <option value="Benzin">Benzin</option>
            <option value="Diesel">Diesel</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Electric">Electric</option>
          </select>
        </div>
        <div class="form-group">
          <label>First Registration Date</label>
          <input type="date" class="form-control" ng-model="book.reg_date" placeholder="First Registration Date">
        </div>
        <div class="form-group">
          <label>Mileage</label>
          <input type="number" class="form-control" ng-model="book.mileage" placeholder="Kilometres">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="book.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" ng-model="book.price" placeholder="Price">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="book.image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label>Buy URL</label>
          <input type="text" class="form-control" ng-model="book.buy_url" placeholder="Buy URL">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
